<div ng-if="errors[0]">
    <ul>
        <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
</div>
<form flex-offset="0" flex="100" flex-offset-gt-sm="30" flex-gt-md="40" flex>
    <md-input-container class="md-block">
        <label>Email</label>
        <input required md-no-asterisk name="email" ng-model="email">
        <div ng-messages="projectForm.description.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Password</label>
        <input required name="password" ng-model="password" type="password">
        <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <md-button ng-click="submitLogin(event)">
        submit
    </md-button>
</form>
